<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="./css/profileStyle.css">
</head>
<body>
    <div class="main_menu">
    <nav class="navbar">
        <div class="app_nav">
            <a class="navbar-brand" href="/home">
                Taskify
            </a>
        
        </div>

        <div class="nav_items">
            <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                 <li class="nav-item active">
                    <a class="nav-link" href="/profile" id="profile">Profile</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/trash">Trash</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/logout" id="logout">Logout</a>
                </li>
               
              
            </ul>
        </div>
    </nav>
</div>
    <div class="container">
            <h1 id="heading">User Profile</h1>
            {{!-- <div class="profile-picture">
                <img src="./images/pic0.jpg" alt="User Avatar">
            </div> --}}
            <form id="profile-form">
                <div class="profile-items">
                       <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="" readonly>
                </div>
                <div class="profile-items">
                     <label for="username">Username:</label>
                <input type="text" id="username" name="username" value="" readonly>
                </div>
                <div class="profile-items">
                    <label for="email">Email:</label>
                <input type="text" id="email" name="email" value="" readonly>
                </div>
                {{!-- <div class="profile-items">
                     <input type="file" id="avatar" name="avatar" accept="image/*" style="display: none;">
                </div> --}}
             
               
                
               
                <button type="button" id="edit-button">Edit</button>
                <button type="submit" id="save-button" style="display: none;">Save</button>
            </form>
    </div>
    
    <script src="./js/profileScript.js"></script>
</body>
</html>
